<!DOCTYPE html>
<html>
    <%- include('../partials/_header') %>
<head>
    <link rel="stylesheet" href="/css/registro.css" />
    <title>Document</title>
</head>

<body>
    <div class="tableformat">
        <table>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rut</th>
                <th>E-mail</th>
                <th>domicilio</th>
                <th>Departamento</th>
                <th>Telefono/Celular</th>
                <th>Motivo</th>
                <th>Direccion</th>
                <th>Comentario</th>
                
                
            </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < usuarios.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= usuarios[i].name %></td>
                        <td><%= usuarios[i].lastname %></td>
                        <td><%= usuarios[i].rut %></td>
                        <td><%= usuarios[i].email %></td>
                        <td><%= usuarios[i].address %></td>
                        <td><%= usuarios[i].department %></td>
                        <td><%= usuarios[i].mobileNumber %></td>
                        <td><%= usuarios[i].phoneNumber %></td>
                        <td><%= usuarios[i].reason %></td>}
                        <td><%= usuarios[i].comment %></td>
                        <td><form method="get" action="/api/user/<%= usuarios[i]._id%>"> <button type="submit">Delete</button> </form></td>

                    
                        
                    </tr> 
                <% } %>   
            </tbody>
        </table>
    </div>
    <div>
        <form action=/api/register/ method="GET">
            <input type="submit" value="Agregar usuario" />  
        </form>
      
        
    </div>

</body>

</html>